<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

</style>
<div class="data-table" >
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <!-- <th width="50px">No</th> -->
            <th>Data</th>
            <th>Nome</th>
            <th>Local do evento</th>
			<th>Categoria</th>
        </tr>

        <% if(data.length){

         for(var i = 0;i < data.length;i++) { %>

        <tr>
            <!-- <td><%=(i+1)%></td> -->
            <td><%=data[i].data%></td>
            <td>
                <a href="/api/event">
                    <%=data[i].nome%>
                </a>
            </td>
			<td><%=data[i].local_evento%></td>
            <td><%=data[i].categoria%></td>
            <td>
                <a class="a-inside edit" href="/api/user/<%=data[i].id%>">Edit</a>

                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].id%>)">Delete</a>

            </td>
        </tr>
    <% }

     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>

    </table>
</div>
<div class="page-data">

<div id="buttons" >
    <form method="post" action="" id="the-form">
        <!-- <input href="/api/add" type="button" value="Criar" class="btn blue"> -->
        <a href="/api/add" class="btn blue">Criar</a>
        Nome:<br>
        <input type="name" name="nome_pesquisa" ><br>
        Local:<br>
        <input type="name" name="local_pesquisa" ><br><br>
        <input href="/api/user" type="button" value="Procurar" class="btn blue" onClick="search()">
    </form>
</div>
</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function search(){
        $.ajax({
            url:"/api/user",
            type:"post",
            data:$("#the-form").serialize(),
            // console.log(data);
            success:function(res){
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {

                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);
                return false;
            }
        });
    }

    function saveUser(){

       $.ajax({

        url:"/api/user",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){

            window.location.reload();
            return false;
        },
        error:function(xhr, status, error){

            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {

                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);
            return false;
        }

       });
    }

    function deleteUser(id){

        $.ajax({
            url:"/api/user/"+id,
            type: 'DELETE',
            success: function(res) {

                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
